@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


body {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: white;
}

@media (min-width: 992px) { 
  
  body {
    margin: auto;
    padding-inline: 25%;
  }


 }


#myNavbar {
  z-index: 500;
  position: fixed;
  width: 100%;
  top: 0;
  float: left;
  vertical-align: center;
}

.pbsText {
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
}

@media all and (display-mode: standalone) {
.divInstall {
  display: none;
}
}






